<h2>User Registration</h2>

<form (submit)="signUp()">
  <input type="text" placeholder="username" [(ngModel)]="username" name="username" required>

  <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required>

  <button type="submit">Sign Up</button>
</form>

@switch (errorMessage)
{
  @case ("user added successfully")
  {
    <p style="color:green;text-align: center;">{{ errorMessage }}</p>
  }
  @case ("Username and Password required!")
  {
    <p style="color:red;text-align: center;">{{ errorMessage }}</p>
  }
  @case ("Username already exists!")
  {
    <p style="color:red;text-align: center;">{{ errorMessage }}</p>
  }
  @case ("")
  {
    <p style="color:red;text-align: center;">{{ errorMessage }}</p>
  }
}
