ul {
  margin-top: 60px;
  margin-bottom: 100px;
}

li {
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 30px;
}

li.weakPassword {
  color: red;
}


h2 {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  color: blueviolet;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

